<div class="header">
  <h1>Create an iCal Timetable</h1>
</div>
<div class="content">
  <p>Create an iCal Timetable for your Swinburne units, just follow the three steps below.</p>
  <%= react_component('TimetableForm', {}, { prerender: true }) %>
</div>
