<div class="header">
  <h1>About This App</h1>
</div>
<div class="content">
  <div class="pure-g">
    <div class="pure-u-1-5 l-box">
      <img class="pure-img" src="https://avatars0.githubusercontent.com/u/153219" alt="@adammw" />
    </div>
    <div class="pure-u-4-5">
      <p>Developed by Swinburne Student <a href="https://github.com/adammw">@adammw</a> to provide students with iCal timetable feeds after the migration to StudentOne removed the ability.</p>
      <p>Data for this service is fetched from Swinburne's <a href="https://allocate.swin.edu.au/aplus/timetable/">Allocate</a> system on an hourly basis.</p>
      <p>This project is open-source, please contribute on <a href="https://github.com/adammw/timetable-app">GitHub</a>.</p>
    </div>
  </div>
</div>
